<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:fragment="head">

    <meta charset="UTF-8"/>
    <title>527 Maintenance</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="undefined" crossorigin="anonymous"></script>

<!--    <link rel="stylesheet" th:href="@{/styles.css}">-->

</head>
<body>

<header th:fragment="header">
<!--    <h1 th:text="${title}">Coding Events</h1>-->
    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="/events">All Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/create">Create Event</a></li>
        <li class="nav-item"><a class="nav-link" href="/events/delete">Delete Events</a></li>
        <li class="nav-item"><a class="nav-link" href="/eventCategories">All Categories</a></li>
        <li class="nav-item"><a class="nav-link" href="/eventCategories/create">Create Category</a></li>
        <li class="nav-item"><a class="nav-link" href="/tags">All Tags</a></li>
        <li class="nav-item"><a class="nav-link" href="/tags/create">Create Tag</a></li>
    </ul>
    <h1 th:text="${title}">Coding Events</h1>
</header>

</body>
</html>